[Unit]
Description=docker container runtime
After=network.target

[Service]
ExecStart=/usr/bin/dockerd
Restart=always
RestartSec=5
Delegate=yes
KillMode=process
OOMScoreAdjust=-999
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
